h1 {
  color: #2E8B57;
  text-align: left;
}

h2 {
  font-style: oblique;
  text-align: center;
}

p {
  font-family: fantasy;
}

ul {
  font-size: 40px;
  line-height: 50px;
}

img {
  float: left;
}

.sidebar {
  width: 25%;
  float:  right;
  background-color: green;

}
